<input type="file" (change)="loadFile($event, selectedBankAccount)"/>

<bank-account-selector (notify)="onNotifyBankAccountSelect($event)"></bank-account-selector>

<div class="row">
    <div class="col-md-4">
        <chart-movements [accountingMovements]="accountingMovements"></chart-movements>
    </div>
    <div class="col-md-4">
        <chart-recap [accountingMovementGroupByDate]="accountingMovementGroupByDate"></chart-recap>
    </div>
    <div class="col-md-4">
        <chart-month-recap [accountingMovementGroupByMonth]="accountingMovementGroupByMonth"></chart-month-recap>
    </div>
</div>